
@{
    ViewBag.Title = "TrackOrderGetOrderID";
}

<h2>Please Enter Order ID you are tracking:</h2>

<form action="/EmployeeUser/TrackOrderGetOrderID" method="post">
    <input type="text" name="orderID" id="orderID" placeholder="Enter Order ID">
    <br />
    <input type="submit" value="Track">
</form>
