
@model IEnumerable<NorthWest.Models.OrderStatus>

@{
                /**/

                ViewBag.Title = "DisplayCustomers";
}

<h2>Customer List</h2>
<!--DISPLAY THE order status-->
<table class="table table-striped">
    <tr>
        <th>
            Date/Time Updated
        </th>
        <th>
            Status
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.dateupdated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
</tr>
}

</table>
